/* trips */
.trips {
  padding: 60px 20px;
}

.trip-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, auto));
  justify-content: center;
  gap: 30px;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.trip-list__empty {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: var(--font-size-400);
  font-family: 'Playfair Display', serif;
}